
<Files "error.css">
	Require all denied
	<If "%{HTTP_REFERER} =~ m#^http://localhost/UbeDelights/#">
		Require all granted
	</If>
</Files>

<Files "home.css">
	Require all denied
	<If "%{HTTP_REFERER} =~ m#^http://localhost/UbeDelights/#">
		Require all granted
	</If>
</Files>

<Files "login.css">
	Require all denied
	<If "%{HTTP_REFERER} =~ m#^http://localhost/UbeDelights/#">
		Require all granted
	</If>
</Files>

<Files "register.css">
	Require all denied
	<If "%{HTTP_REFERER} =~ m#^http://localhost/UbeDelights/#">
		Require all granted
	</If>
</Files>

<Files "security_questions.css">
	Require all denied
	<If "%{HTTP_REFERER} =~ m#^http://localhost/UbeDelights/#">
		Require all granted
	</If>
</Files>

<Files "admin.css">
	Require all denied
	<If "%{HTTP_REFERER} =~ m#^http://localhost/UbeDelights/#">
		Require all granted
	</If>
</Files>

<Files "admin_security.css">
	Require all denied
	<If "%{HTTP_REFERER} =~ m#^http://localhost/UbeDelights/#">
		Require all granted
	</If>
</Files>

<Files "user_management.css">
	Require all denied
	<If "%{HTTP_REFERER} =~ m#^http://localhost/UbeDelights/#">
		Require all granted
	</If>
</Files>

ErrorDocument 403 http://localhost/UbeDelights/views/error.html

